@import url("https://fonts.googleapis.com/css2?family=Comforter&family=Josefin+Sans:ital@1&display=swap");

* {
  box-sizing: border-box;
}

::selection {
  background: #d79922;
  color: #2c2c2c;
}

body {
  font-family: "Josefin Sans";
  height: 220vh;
  background: #4e5165;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #c8bb97;
}

.centerimg {
  margin: 10px auto 20px;
  display: block;
}

h1 {
  font-family: "Comforter";
  text-align: center;
  font-size: 60px;
  color: #458587;
}

form {
  background: #2c2c2c;
  padding: 50px;
  width: 550px;
  max-width: calc(100% - 60px);
  border-radius: 5px;
}

.form-element {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.form-element span {
  margin-bottom: 10px;
}

input,
textarea {
  border: 1px solid #4e5165;
  line-height: 2;
  padding: 5px;
  border-radius: 5px;
  resize: none;
  background: #c8bb97;
}

.radio-buttons label {
  margin-bottom: 10px;
  cursor: pointer;
}

form button {
  font-family: "Comforter";
  width: 100%;
  padding: 5px;
  color: #2c2c2c;
  background: #458587;
  border-radius: 5px;
  border: none;
  font-size: 40px;
  cursor: pointer;
}
