@import url("https://fonts.googleapis.com/css2?family=Comforter&family=Josefin+Sans:ital@1&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Josefin Sans";
  height: 220vh;
  background: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-family: "Comforter";
  text-align: center;
  font-size: 60px;
}

form {
  background: white;
  padding: 50px;
  width: 550px;
  max-width: calc(100% - 60px);
  border-radius: 5px;
}

.form-element {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.form-element span {
  margin-bottom: 10px;
}

input,
textarea {
  border: 1px solid #d0d2e2;
  line-height: 2;
  padding: 5px;
  border-radius: 5px;
  resize: none;
}

.radio-buttons label {
  margin-bottom: 10px;
  cursor: pointer;
}

form button {
  font-family: "Comforter";
  width: 100%;
  padding: 10px;
  color: #fff;
  background: #1aaaef;
  border-radius: 5px;
  border: none;
  font-size: 50px;
  cursor: pointer;
}
